:root{
    font-family: “Helvetica Neue”,Helvetica,Arial,sans-serif;;
}


.header-top{
    background-color: #2c3e50;
}

a{
    text-decoration: none;
    color: inherit;
}

.bg-green{
    background-color: #1abc9c;
    color: white;
}

.jumbotron img{
    width: 15rem;
}

img{
    width: 100%;
}

input{
    border: none;
}

hr{
    width: 35%;
    margin: 0 auto;
}

.footer-top{
    background-color: #3A546D;
    color: white;
}

.footer-bottom{
    background-color: #2C3E50;
    color: white;
}

.fa-brands{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

a .fa-brands{
    border: solid 1px white;
    border-radius: 50%;
}

.card{
    margin: 10px;
}